.Hero {
    background         : url('../../assets/hero-image.jpg') no-repeat;
    // background-color: red;\
    background-size    : cover;
    background-position: center; 
    height             : 100vh;
    width              : 100%;

    &-container {
        padding-top : 220px;
        padding-left:170px;
    
        &-title {
            font-family        : "Outfit", sans-serif;
            font-optical-sizing: auto;
            font-weight        : bold;
            font-style         : normal;
            font-size          : 74px;
    
        }
    
        &-desc {
            font-family        : "Outfit", sans-serif;
            font-optical-sizing: auto;
            font-weight        : 400;
            font-style         : normal;
            font-size          : 28px;
    
        }
    }

    @media only screen and (max-width: 1024px){
        /*Tablets [601px -> 1200px]*/

        &-container {
            padding-top : 420px;
            padding-left:120px;
        
        }
    }

    @media only screen and (max-width: 700px){
        /*Tablets [601px -> 1200px]*/
        &-container {
            padding-top : 250px;
            padding-left:74px;
        
            &-title {
                font-size          : 54px;
        
            }
        
            &-desc {
                font-size          : 20px;
        
            }
        }
    }

    @media only screen and (max-width: 500px){
        /*Tablets [601px -> 1200px]*/
        &-container {

            padding-left: 54px;
        
            &-title {
                font-size          : 44px;
        
            }
        
            &-desc {
                font-size          : 16px;
        
            }
        }
    }
  

}


