.Card {
    border       : 1px solid #4A5567;
    border-radius: 10PX;

    &-superhost {
        background-color: rgba(3, 3, 3, 0.5);
        display       : flex;
        flex-direction: row;
        color         : #F2F9FE;
        font-family   : "Outfit", sans-serif;
        font-weight   : 400;
        font-style    : normal;
        font-size     : 16px;
        position: absolute;
        margin: 8px;
        padding: 0px 10px;
        border-radius: 20px;

        & svg {
            width: 20%;
        }
    }

    & img {
        border-top-left-radius : 10px;
        border-top-right-radius: 10px;
    }

    &-text {
        margin: 0 20px;

        & h1 {
            color      : #F2F9FE;
            font-family: "Outfit", sans-serif;
            font-weight: 400;
            font-style : normal;
            font-size  : 16px;
            margin     : 20px 0 16px;
        }

        & p {
            color      : #97A3B6;
            font-family: "Outfit", sans-serif;
            font-weight: 400;
            font-style : normal;
            font-size  : 14px;
            margin     : 16px 0;
        }
    }

    &-icons {
        margin        : 0 20px 16px;
        display       : flex;
        flex-direction: row;
        color         : #97A3B6;
        gap           : 20px;
        font-family   : "Outfit", sans-serif;
        font-weight   : 400;
        font-style    : normal;
        font-size     : 13px;




        &-content-bedroom {
            display       : flex;
            flex-direction: row;
            align-items   : center;
            gap           : 5px;
            margin: 0;
            padding: 0;

            & svg {
                display: inline-block;
                vertical-align: middle;
            }
        }

        &-content-people {
            display       : flex;
            flex-direction: row;
            align-items   : center;
            gap           : 5px;
        }
    }

    &-line {
        margin          : 0 20px;
        height          : 1px;
        background-color: #97A3B6;
    }


    &-container {
        margin         : 20px 20px;
        display        : flex;
        flex-direction : row;
        justify-content: space-between;
        color          : #97A3B6;
        align-items    : center;

        &-contentpr {
            display       : flex;
            flex-direction: row;
            align-items   : center;

            &-price {
                font-family: "Outfit", sans-serif;
                font-weight: 400;
                font-style : normal;
                font-size  : 18px;
                color      : #F2F9FE;

            &-text {
                font-family: "Outfit", sans-serif;
                font-weight: 400;
                font-style : normal;
                font-size  : 14px;
                color      : #97A3B6;
            }
            }

        }


        &-rating {
            display    : flex;
            color      : #F2F9FE;
            align-items: center;
            font-family: "Outfit", sans-serif;
                font-weight: 400;
                font-style : normal;
                font-size  : 15px;
                color      : #F2F9FE;
            
        }
    }


}